In [38]:
import requests
import pandas as pd
import json

In [40]:
url = 'https://data.cdc.gov/resource/hn4x-zwk7.json'
response = requests.get(url)
obseity_json = response.json()
obesity_df = pd.DataFrame.from_dict(obesity_json)
print(obesity_df.head())

  yearstart yearend locationabbr locationdesc datasource  \
0      2011    2011           AK       Alaska      BRFSS
1      2011    2011           AK       Alaska      BRFSS
2      2011    2011           AK       Alaska      BRFSS
3      2011    2011           AK       Alaska      BRFSS
4      2011    2011           AK       Alaska      BRFSS

                     class                         topic  \
0  Obesity / Weight Status       Obesity / Weight Status
1  Obesity / Weight Status       Obesity / Weight Status
2        Physical Activity  Physical Activity - Behavior
3  Obesity / Weight Status       Obesity / Weight Status
4  Obesity / Weight Status       Obesity / Weight Status

                                            question data_value_unit  \
0  Percent of adults aged 18 years and older who ...            2011
1  Percent of adults aged 18 years and older who ...            2011
2  Percent of adults who achieve at least 150 min...            2011
3  Percent of adults aged 18 years and older who ...            2011
4  Percent of adults aged 18 years and older who ...            2011

  data_value_type  ...    stratification1 stratificationcategoryid1  \
0           Value  ...    2 or more races                      RACE
1           Value  ...              Other                      RACE
2           Value  ...             Female                       SEX
3           Value  ...            35 - 44                     AGEYR
4           Value  ...  $15,000 - $24,999                       INC

  stratificationid1     sex age_years             income education  \
0         RACE2PLUS     NaN       NaN                NaN       NaN
1           RACEOTH     NaN       NaN                NaN       NaN
2            FEMALE  Female       NaN                NaN       NaN
3         AGEYR3544     NaN   35 - 44                NaN       NaN
4           INC1525     NaN       NaN  $15,000 - $24,999       NaN

  data_value_footnote_symbol data_value_footnote total
0                        NaN                 NaN   NaN
1                        NaN                 NaN   NaN
2                        NaN                 NaN   NaN
3                        NaN                 NaN   NaN
4                        NaN                 NaN   NaN

[5 rows x 33 columns]